body,
html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica, Arial, sans-serif"
}

.box1 {
    margin-left: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;

}

.box3 {
    display: flex;
    box-sizing: border-box;
    padding: 0 130px;
    justify-content: space-between;
}

.box2 {
    width: 300px;
    margin-top: 100px;
}

.exp {
    white-space: pre-line;
    overflow-y: auto;
    font-size: small;
    display: none;
}
.jobbtn:hover~.exp {
    display: block;
}

.link {
    margin-left: 120px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

p {

    height: 350px;
    box-sizing: border-box;
    line-height: 24px;
    background: #ffffff;
    overflow: hidden;
    transition: all .3s linear;
    box-shadow: 15px 18px 40px 0 rgba(189, 189, 189, 0.50);
    border-radius: 8px;

}





#SS {
    width: 296px;
    height: 165px;
    cursor: pointer;
    background: #5BB28F;
    color: black;
    border-radius: 25px;
    display: flex;
    /* //垂直方向居中 */
    align-items: center;
    /* 水平方向居中 */
    justify-content: center;
    font-size: 61px;

}

#TMA {
    width: 296px;
    height: 165px;
    cursor: pointer;
    background: #A9D5BC;
    color: black;
    border-radius: 25px;
    display: flex;
    /* //垂直方向居中 */
    align-items: center;
    /* 水平方向居中 */
    justify-content: center;
    font-size: 61px;
}

#ER {
    width: 296px;
    height: 165px;
    cursor: pointer;
    background: #7FC19B;
    color: black;
    border-radius: 25px;
    display: flex;
    /* //垂直方向居中 */
    align-items: center;
    /* 水平方向居中 */
    justify-content: center;
    font-size: 61px;
}

#Mac {
    width: 296px;
    height: 165px;
    cursor: pointer;
    background: #D4EADC;
    color: black;
    border-radius: 25px;
    display: flex;
    /* //垂直方向居中 */
    align-items: center;
    /* 水平方向居中 */
    justify-content: center;
    font-size: 61px;
}

#SS:hover,
#TMA:hover,
#ER:hover,
#Mac:hover {
    background-color: #abd2c5;
    /* 悬停时的背景颜色，您可以自定义 */
    color: white;/
}
strong{
    color: green;
}
